body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: auto;
}

/* general */

.outer-container {
    position: relative; /* Родительский элемент для позиционирования */
}

.outer-container1 {
  position: relative; /* Родительский элемент для позиционирования */
  left: 766px;
  top: 766px;
}

/* first section */


.header {
    margin-top: 40px;
    display: flex;
   }

/* photo */

  .table {
    width: 456px;
    height: 175px;
    margin-right: 55px;
  }

  .clock {
    width: 177px;
    height: 175px;
  }

  .table2 {
    width: 456px;
    height: 175px;
    margin-left: 55px;
  }

  .desk {
    width: 1200px;
    height: 915px;
    margin-top: 40px;
   }

   /* text */

  .cap {
    font-family: 'Geometria Light';
    position: absolute;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: -6%;
    font-weight: 200;
    top: 337px;
    left: 679px;
  }

  .cap0 {
    font-family: 'Geometria Thin';
    position: absolute;
    font-size: 32px;
    letter-spacing: 15px;
    color: #ffffff;
    top: 570px;
    left: 280px;
  }

  .text {
    font-family: 'Geometria Medium';
    position: absolute;
    color: #ffffff;
    font-size: 32px;
    top: 366px;
    left: 595px;
   }

  .text0 {
    font-family: 'Geometria Medium';
    position: absolute;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: -6%;
    font-weight: 200;
    top: 826px;
    left: 535px;
  }

  .text1 {
    font-family: 'Geometria Bold';
    position: absolute;
    font-size: 150px;
    top: 641px;
    color: #ffffff;
    left: 260px;
    letter-spacing: -4%;
    font-weight: 800;
  }

  .group {
    text-align: center;
  }


/* second section */

/* photo */

.cab1 {
    margin-top: 70px;
  }

  .list1 {
    position: absolute;
  }

  .list2 {
    position: absolute;
    left: 706px;
    top: 2319px;
  }

    /* text */

    .text2 {
        font-family: 'Geometria Medium';
        position: absolute;
        color: #003CFF;
        top: 1277px;
        left: 639px;
        font-size: 32px;
        line-height: 40px;
      }
    
    .text3 {
        font-family: 'Geometria Medium';
        position: absolute;
        color: #003CFF;
        font-size: 32px;
        top: 33px;
        left: 112px;
        text-align: center;
        line-height: 40px;
      }


/* third section */

.third {
    position: absolute;
    top: 2973px;
   }

/* photo */

/* text */

  .text4 {
    font-family: 'Geometria Medium';
    position: absolute;
    color: #003CFF;
    font-size: 64px;
    top: 16px;
    left: 32px;
  }

  .text4-1 {
    font-family: 'Geometria Light';
    font-size: 20px;
    color: #003CFF;
    position: absolute;
    top: 30px;
    left: 346px;
    white-space: nowrap;
  }

  .text-row {
  font-family: 'Geometria Thin';
  font-weight: 100;
  position: absolute; /* Позиционируем текст поверх изображения */
  color: #003CFF;
  top: 214px; /* Расположение сверху */
  left: 32px; /* Расположение слева */
  }

  .text-item {
  display: inline-block; /* Размещаем элементы в ряд */
  margin-right: 64px; /* Задаем расстояние между текстами */
  }

  .text-row1 {
  font-family: 'Geometria ExtraLight';
  position: absolute; /* Позиционируем текст поверх изображения */
  color: #003CFF;
  top: 267px; /* Расположение сверху */
  left: 32px; /* Расположение слева */
  }

  .text-item1 {
  display: inline-block; /* Размещаем элементы в ряд */
  margin-right: 64px; /* Задаем расстояние между текстами */
  }

  .text-row2 {
  font-family: 'Geometria Light';
  position: absolute; /* Позиционируем текст поверх изображения */
  color: #003CFF;
  top: 319px; /* Расположение сверху */
  left: 32px; /* Расположение слева */
  }

  .text-item2 {
  display: inline-block; /* Размещаем элементы в ряд */
  margin-right: 64px; /* Задаем расстояние между текстами */
  }

  .text-row3 {
  font-family: 'Geometria Medium';
  position: absolute; /* Позиционируем текст поверх изображения */
  color: #003CFF;
  top: 370px; /* Расположение сверху */
  left: 32px; /* Расположение слева */
  }

  .text-item3 {
  display: inline-block; /* Размещаем элементы в ряд */
  margin-right: 64px; /* Задаем расстояние между текстами */
  }

  .text-row4 {
  font-family: 'Geometria Bold';
  position: absolute; /* Позиционируем текст поверх изображения */
  color: #003CFF;
  top: 421px; /* Расположение сверху */
  left: 32px; /* Расположение слева */
  }

  .text-item4 {
  display: inline-block; /* Размещаем элементы в ряд */
  margin-right: 64px; /* Задаем расстояние между текстами */
  }

  .text-row5 {
  font-family: 'Geometria ExtraBold';
  position: absolute; /* Позиционируем текст поверх изображения */
  color: #003CFF;
  top: 471px; /* Расположение сверху */
  left: 32px; /* Расположение слева */
  }

  .text-item5 {
  display: inline-block; /* Размещаем элементы в ряд */
  margin-right: 64px; /* Задаем расстояние между текстами */
  }

  .text-row6 {
  font-family: 'Geometria Heavy';
  position: absolute; /* Позиционируем текст поверх изображения */
  color: #003CFF;
  top: 523px; /* Расположение сверху */
  left: 32px; /* Расположение слева */
  }

  .text-item6 {
  display: inline-block; /* Размещаем элементы в ряд */
  margin-right: 64px; /* Задаем расстояние между текстами */
  }

/* fourth section */

.fourth {
    position: absolute;
    top: 3700px;
    margin: 0 auto;
   }

  /* photo */

  /* text */

    .text5 {
    font-family: 'Geometria Medium';
    position: absolute;
    color: #ffffff;
    font-size: 128px;
    top: 24px;
    left: 40px;
    }

    .text6 {
    font-family: 'Geometria Narrow Medium';
    position: absolute;
    color: #ffffff;
    font-size: 128px;
    top: 24px;
    left: 284px;
    }

    .cap2 {
    font-family: 'Geometria Light';
    font-style: italic;
    position: absolute;
    color: #ffffff;
    font-size: 14px;
    top: 166px;
    left: 317px;
    }

    .text-row7 {
    font-family: 'Geometria Light';
    position: absolute; /* Позиционируем текст поверх изображения */
    color: #ffffff;
    top: 234px; /* Расположение сверху */
    left: 67px; /* Расположение слева */
    }
  
    .text-item7 {
    display: inline-block; /* Размещаем элементы в ряд */
    margin-right: 64px; /* Задаем расстояние между текстами */
    }

    .text-row8 {
      font-family: 'Geometria Light';
      position: absolute; /* Позиционируем текст поверх изображения */
      color: #ffffff;
      top: 234px; /* Расположение сверху */
      left: 370px; /* Расположение слева */
      }
    
      .text-item8 {
      display: inline-block; /* Размещаем элементы в ряд */
      margin-right: 64px; /* Задаем расстояние между текстами */
      }

      .text-row9 {
        font-family: 'Geometria Light';
        position: absolute; /* Позиционируем текст поверх изображения */
        color: #ffffff;
        top: 234px; /* Расположение сверху */
        left: 679px; /* Расположение слева */
        }
      
        .text-item9 {
        display: inline-block; /* Размещаем элементы в ряд */
        margin-right: 62px; /* Задаем расстояние между текстами */
        }

        .text-row10 {
          font-family: 'Geometria Light';
          position: absolute; /* Позиционируем текст поверх изображения */
          color: #ffffff;
          top: 234px; /* Расположение сверху */
          left: 830px; /* Расположение слева */
          white-space: nowrap;
          }
        
          .text-item10 {
          display: inline-block; /* Размещаем элементы в ряд */
          margin-right: 57px; /* Задаем расстояние между текстами */
          }

          .cap3 {
            font-family: 'Geometria ExtraLight';
            position: absolute;
            color: #ffffff;
            font-style: italic;
            font-size: 20px;
            margin-bottom: 24px;
            top: 43%; /* Сдвигаем вниз на 50% высоты родителя */
            left: 50%; /* Сдвигаем вправо на 50% ширины родителя */
            transform: translate(-50%, -50%); /* Сдвигаем текст обратно на половину его ширины и высоты */
          }

          .text7 {
            font-family: 'Geometria Bold';
            color: #ffffff;
            font-style: italic;
            font-size: 64px;
            position: absolute;
            top: 75%;
            left: 50%;
            transform: translate(-50%, -50%);
          }

/* fifth section */

.fifth {
    position: absolute;
    top: 4815px;
    text-align: center;
   }

   /* text */

   h1 {
    font-family: 'Geometria Narrow Heavy';
    color: #003CFF;
    font-size: 210px;
    letter-spacing: -6%;
    line-height: 100%;
    font-weight: 900;
  }

  h6 { 
    font-family: 'Geometria ExtraLight';
    color: #003CFF;
    font-size: 20px;
    font-style: italic;
    letter-spacing: -6%;
   }

   .cap1 {
    font-family: 'Geometria ExtraLight';
    margin-bottom: 24px;
  }


/* sixth section */

.sixth {
    position: absolute;
    top: 5562px;
    background-color: #003CFF;
   }

  /* text */

  .text8 {
  font-family: 'Geometria Medium';
  color: #ffffff;
  font-size: 16px;
  line-height: 23px;
  position: absolute;
  top: 180px;
  left: 892px;
  }

/* seventh section */

.seventh {
    position: absolute;
    top: 7098px;
    margin-bottom: 120px;
   }

/* eighth section */

.eighth {
    position: absolute;
    top: 8765px;
    background-color: #003CFF;
    margin-bottom: 70px;
   }

/* ninth section */


.ninth {
    position: absolute;
    top: 9503px;
   }


.footer {
    background-color: #003CFF;
   }